/* Write your CSS here */
.not-found-home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}
.not-found-container-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-grow: 1;
    width: 100%;
}
.not-found-image {
    width: 300px;
    height: 300px;
}
.not-found-heading-light {
    color: #333333;
}
.not-found-para-light {
    color: #334155;
}
.not-found-container-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    flex-grow: 1;
    width: 100%;
}
.not-found-heading-dark {
    color: #ffffff;
}
.not-found-para-dark {
    color: #dcdcdc;
}